.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 48px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.link{
    text-decoration: none;
    color: inherit;
}